/* main */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header{
    width: 100%;
    background-color: white;
    padding: 20px 70px;
}

/* navigation bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* logo */
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img{
    width: 30px;
    height: 30px;
    filter: brightness(0.5);
}

.logo-text{
    display: flex;
    flex-direction: column;
    line-height: 1;
}

.logo-text h2{
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}

.logo-text p{
    margin: 0;
    font-size: 13px;
    font-weight: 600;
}
/* Navigation menu */
nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

nav ul li a{
    text-decoration: none;
    color: #555;
    font-size: 14px;
    font-weight: 500;
}

nav ul li a:hover{
    color: #2952E3;
}
/* navigation button */

nav button{
    background-color: #2952E3;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

nav button:hover{
    background-color: #1d4ed8;
}
/* hero section */
.hero{
    height: 90vh;
    background-image: url(assets/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
     

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;
}
.hero h1{
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
}
.hero h1 span{
    font-style: italic;
}
.hero p{
    width: 700px;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 200px;
}
.hero-btn{
    background-color: #2952E3;
    color: white;
    border: none;
    padding: 16px 40px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    
}

.hero-btn:hover{
    background-color: #1d4ed8;
}