/* main */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
}

/* header */
header{
    width: 100%;
    background-color: white;
    padding: 20px 70px;
}

/* navigation bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* logo */
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img{
    width: 30px;
    height: 30px;
    filter: brightness(0.5);
}

.logo-text{
    display: flex;
    flex-direction: column;
    line-height: 1;
}

.logo-text h2{
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}

.logo-text p{
    margin: 0;
    font-size: 13px;
    font-weight: 600;
}
/* Navigation menu */
nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

nav ul li a{
    text-decoration: none;
    color: #555;
    font-size: 14px;
    font-weight: 500;
}

nav ul li a:hover{
    color: #2952E3;
}
/* navigation button */

nav button{
    background-color: #2952E3;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

nav button:hover{
    background-color: #1d4ed8;
}
/* hero section */
.hero{
    height: 90vh;
    background-image: url(assets/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
     

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;
}
.hero h1{
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
}
.hero h1 span{
    font-style: italic;
}
.hero p{
    width: 700px;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 200px;
}
.hero-btn{
    background-color: #2952E3;
    color: white;
    border: none;
    padding: 16px 40px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    
}

.hero-btn:hover{
    background-color: #1d4ed8;
}
 /* First page done */


 /* second page start */
.speakers{
    padding: 80px;
}

.speakers h2{
    text-align: center;
    font-size: 35px;
    margin-bottom: 50px;
}

.speaker-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.speaker-info {
    padding: 25px;
    
}
.category {
color: #1d4ed8;
}
.name{
    color: #0D1B2A;
}
.paragraph{
    color: #575757;
}
.speaker-card{
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    overflow: hidden;
}

.speaker-card img{
    width: 100%;
    display: block;
}
/* second page end */


/* third page start */
.pricing{
    padding:80px;
    text-align:center;
}
.pricing h2{
    font-size:50px;
    margin-bottom:10px;
}
.pricing-subtitle{
    color:#777;
    margin-bottom:50px;
}
.pricing-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}
.price-card{
    background:#fff;
    border:1px solid #ddd;
    border-radius:10px;
    padding:30px;
    text-align:left;
}
.horizontal line{
    color: #FFFFFF;
}
.featured{
    background:#0d1b2a;
    color:#FFFFFF;
    }

.price-card button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:6px;
    margin-top:20px;
    cursor:pointer;
}
.featured button{
    background:#3b82f6;
    color:white;
}
.price-card:not(.featured) button{
    background:white;
    color:#2563eb;
    border:1px solid #0D1B2A;
}

.price-card ul{
    padding-left:20px;
    margin:20px 0;
}

.price-card li{
    margin-bottom:12px;
}
.featured .plan{
    color:#93C5FD;
}

.plan{
    color:#888888;   
    font-weight: 600;  
}

.featured .plan{
    color:#888888;  
}
.person{
    color: #888888;
}
.price{
     font-size: 44px;
    font-weight: 800;
    margin: 15px 0 10px;
}
.team-btn{
    color: #0D1B2A;
}
.featured .plan{
    color: #93C5FD;
}
.price-card button{
    font-size:14px;
}

/* third page End */



/* Fourth page start */

.contact{
    padding: 80px;
    background: #F8FAFC;
}
.contact-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    align-items: start;
}

.contact-info h2{
    font-size: 42px;
    color: #0D1B2A;
    margin-bottom: 20px;
}
.contact-info p{
    color: #555555;
    line-height: 1.8;
    margin-bottom: 20px;
}
.contact-details{
    margin-top: 30px;
}

.contact-details p{
    margin-bottom: 15px;
    font-size: 16px;
}

.social-links a{
    text-decoration: none;
    color: #2563EB;
    margin-right: 20px;
    font-weight: 600;
    transition: 0.3s;
}

.social-links a:hover{
    color: #0D1B2A;
}



.contact-form h2{
    font-size: 42px;
    color: #0D1B2A;
    margin-bottom: 20px;
}

.contact-form form{
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #D1D5DB;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    font-family: "Inter", sans-serif;
}

.contact-form textarea{
    resize: none;
}


.contact-form button{
    width: 180px;
    padding: 14px;
    background: #2563EB;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover{
    background: #0D1B2A;
}

/* footer section */

.footer{
    padding: 30px 80px;
    background:#0D1B2A;
}

.footer hr{
    border: none;
    border-top: 1px solid #E5E7EB;
    margin-bottom: 30px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img{
    width: 170px;
}
.social-links{
    margin-top: 30px;
}
.footer-right{
    text-align: right;
}

.footer-social{
    margin-bottom: 12px;
}

.footer-social a{
    color: #0D1B2A;
    text-decoration: none;
    margin-left: 16px;
    font-size: 18px;
    transition: .3s;
}

.footer-social a:hover{
    color: #2563EB;
}

.footer-right p{
    font-size: 10px;
    color: #6B7280;
}
.footer-container{
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
}
.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px; 
    margin-top: 20px;}

 .footer-links a {
    text-decoration: none;
    color: #8a9099;
    font-size: 14px;}

    .footer-top{
        display: flex;
        justify-content: space-between;
        gap: 10px;
        text-decoration: none;
        color: #0D1B2A;
    }
    
    
    

